apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true

  - name: Traffic Data API
    type: grafana-simple-json-datasource
    access: proxy
    url: http://data-api:5000
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "30s"
